<h5>I Jornadas de trabajo remoto en Barcelona</h5>
<%#= simple_form_for @question do |f| %>
  <%#= f.input :q1,  as: :radio_buttons%>
  <%#= f.button :submit %>
  <!-- Begin MailChimp Signup Form -->
  <%= link_to 'Saber más', workshop_path, class: 'btn btn-primary' %>
</div>

  <!--End mc_embed_signup-->
