<h5>Would u you like to participate to a workshop en Barcelona to learn coding for nowmadas</h5>
<%#= simple_form_for @question do |f| %>
  <%#= f.input :q1,  as: :radio_buttons%>
  <%#= f.button :submit %>
  <!-- Begin MailChimp Signup Form -->
  <div class="question-workshop">
    <link href="//cdn-images.mailchimp.com/embedcode/horizontal-slim-10_7.css" rel="stylesheet" type="text/css">
    <div id="mc_embed_signup">
      <form action="https://nowmada.us17.list-manage.com/subscribe/post?u=06681d916dc998e5e02141ce6&amp;id=f5369c9732"
          method="post" id="mc-embedded-subscribe-form" name=" mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
      <div id="mc_embed_signup_scroll">

      <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
      <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
      <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_06681d916dc998e5e02141ce6_f5369c9732" tabindex="-1" value="">

      </div>
        <div class="clear">
          <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
        </div>
      </div>
      </form>
  </div>
</div>

  <!--End mc_embed_signup-->
