


.wrapperjob{
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 15% 70% 15% ;
}


.bannershow{
   height: 30vh;

   text-align: center;
}

.taglineshow{
  background-color: black;
  padding-top: 1em;
}


.bannershow h3, p{
  color: white;
}

.wrapperjob{

}



.jobcontent{
  grid-column: 2/3;
  padding: 2em 1em 1em 1em;
  background-color: #ffffffd9;
}


.jobcontent h3{
  color: black;
}

.description p{
  font-size: 18px;
  line-height: 1.5;
  text-align: justify;
  color: black;
  font-weight: normal;

}

.jobcontent a{
  color: black;
  font-weight: bold;
}

.jobdetailsright{
  margin: 0em -1em 0.5em -3em;
  text-align: center;
}

.email p{
  font-size: 18px;
  line-height: 1.5;
  text-align: justify;
  color: black;
  font-weight: normal;

}

.apply{
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 0.3em;

}

.apply a{
  color: black;
}

.btn-apply {
    color: #fff;
    background-color: #469AE0;
    border-color: #308edc;
    padding: 0.5em;
    margin-right: 1em;
    border-radius: 5px;
}


.social{
  background-color: black;
  padding: 0.5em;
  margin-bottom: 0px;
}

@media only screen
  and (min-device-width: 300px)
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {

.wrapperjob{
  display: block;
}

.card{
  display: block;
}

.photocard{
      text-align: center;
}

}
