
// *{
//   border: solid 1px blue;
// }

.wrapperjob{
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 15% 70% 15% ;
}


.bannershow{
   height: 30vh;

   text-align: center;
}

.taglineshow{
  background-color: black;
  padding-top: 1em;
}


.taglineshow h3{
  font-family: lato;
  font-size: 35px;
  font-weight: 600;
  color: white;
}

.taglineshow h4{
  font-family: lato;
  font-size: 21px;
  font-weight: 400;
  color: white;

}

.bannershow h3, p{
  color: white;

}

.datetitle p{

  color:white;
}

#time{
  color: white;
  background-color: $light-blue;
  text-transform: uppercase;
  letter-spacing: .2em;
}


.jobcontent{
  grid-column: 2/3;
  padding: 2em 1em 1em 1em;
  background-color: #ffffffd9;
  padding-top: 0px;

}


.jobcontentshow{
  grid-column: 2/3;
  padding: 2em 1em 1em 1em;
  background-color: #ffffffd9;
  padding-top: 0px;
  margin-top: 7em;
  h3{
  color: black;
  font-family: nunito;
  font-weight: 600;
  padding-bottom: 15px;
  font-size: 21px;

  }

}

.jobcontent h3{
  color: black;
  font-family: nunito;
  font-weight: 600;
  padding-bottom: 15px;
  font-size: 21px;
}

.description p{
  font-size: 15.4px;
  line-height: 1.5;
  text-align: left;
  color: black;
  font-weight: 200;
  font-family: nunito;

}

.jobcontent a{
  color: black;
  font-weight: bold;
}

.jobdetailsright{
  margin: 0em -1em 0.5em -3em;
  text-align: center;
}

.email p{
  font-size: 15.4px;
  line-height: 1.5;
  text-align: left;
  color: black;
  font-weight: 400;
  font-family: nunito;

}

.apply{
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 0.3em;

}


//text in button on show
.apply a{
  color: white;
  margin-left: 1px;
  text-decoration: none;
}



.social{
  background-color: black;
  padding: 0.5em;
  margin-bottom: 0px;
}

@media only screen
  and (min-device-width: 300px)
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {

  .wrapperjob{
    display: block;
  }

  .card{
    display: block;
  }

  .photocard{
        text-align: center;
  }

  .description p{
    font-size: 14.4px;
  }


  .email p{
    font-size: 15.4px;

  }

  .jobcontentshow{
    margin-top: 15em;
  }

}
