<h1>List of things to check</h1>

<ul><strong>Check after each deployment if the following works</strong></ul>
<li>Check Mobile and destop rendering</li>
<li>Check if mailchimp form is working on homepage , job,  workshop and company</li>
<li>Check if apply button is working</li>
<li>Check if adding editing deleting a job is working</li>
<li>Check if annunciar un trabajo is working</li>
