<div class="wrapper">
  <div class="bannerblack">
    <div class="tagline">
      <h3> El primero portal de trabajo remoto para gentes que hablan espanol</h3>
      <p>Annunciar un trabajo durante 30 dias por solo 49€</p>
    </div>
  </div>

  <div class="wrapperjob">


  </div>
</div>

