<!-- <div class="banner" style="background-image:linear-gradient(-225deg, rgba(192,192,170,0.6) 0%, rgba(126, 183, 246, 0.6) 50%), url('<%#= image_path("workshop.jpg")%>');">
  <div class="tagline "> -->
<div class="wrapper">
  <div class="bannerblack">
    <div class="tagline">

      <h3>Jornadas de trabajo remoto en Barcelona</h3>

      <p>Este julio en Barcelona nómadas digitales, aspirantes y empresas se encontrarán para hablar sobre la situación del trabajo remoto en español. En este foro queremos dar espacio a la discusión, a la creación, al networking y al avance de esta nueva sociedad nómada hispana.</p>

    <!-- <p> Recibe las últimas ofertas cada semana</p> -->

  <form action="https://nowmada.us17.list-manage.com/subscribe/post?u=06681d916dc998e5e02141ce6&amp;id=f5369c9732" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
      <div id="mc_embed_signup_scroll">

        <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email@email.com" required>
        <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups - ok-->
        <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_06681d916dc998e5e02141ce6_f5369c9732" tabindex="-1" value=""></div>
        <div class="clear"><input type="submit" value="Subscríbete" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
      </div>
    </form>
  </div>
</div>




<!--End mc_embed_signup-->
