<div class="banner" style="background-image: url('<%= image_path("workshop.jpg")%>');">
  <div class="tagline">

    <h1>Jornadas de trabajo remoto para nómadas digitales  en Barcelona
    </h1>
    <!-- <p> Recibe las últimas ofertas cada semana</p> -->

    <form action="https://nowmada.us17.list-manage.com/subscribe/post?u=06681d916dc998e5e02141ce6&amp;id=" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
      <div id="mc_embed_signup_scroll">

        <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email@email.com" required>
        <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups - ok-->
        <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_06681d916dc998e5e02141ce6_299f6fa8b7" tabindex="-1" value=""></div>
        <div class="clear"><input type="submit" value="Subscríbete" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
      </div>
    </form>
  </div>
</div>
